*{
    margin:0;
    padding:0;
}

.div1{
    width:20%;
    height:400px;
    background-color: green;
    color:white;
    float:left;
    margin-left: 90px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('mobile.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.div2{
    width:20%;
    height:400px;
    background-color: orange;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('neck.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.div3{
    width:20%;
    height:400px;
    background-color: purple;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('shoe.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.div4{
    width:20%;
    height:400px;
    background-color: blue;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('wash.jfif');
    background-size: cover;
    background-repeat: no-repeat;

}

.div5{
    width:20%;
    height:400px;
    background-color: green;
    color:white;
    float:left;
    margin-left: 90px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('mobile.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.div6{
    width:20%;
    height:400px;
    background-color: orange;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('neck.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.div7{
    width:20%;
    height:400px;
    background-color: purple;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('shoe.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.div8{
    width:20%;
    height:400px;
    background-color: blue;
    color:white;
    float:left;
    margin-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    padding:60px;
    border-radius:5%;
    background-image: url('wash.jfif');
    background-size: cover;
    background-repeat: no-repeat;

}
.btn-order{
    width:100px;
    height:40px;
    background-color:green;
    margin-left:40px;
    margin-top: 20px;
    color:white;
    border-radius: 15%;
}