<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" class="href">
</head>
<body>
    <div class="header2">
        <a href="" class="logo">Course</a>

        <ul>
            <li>
                <form action="" style="display:flex;">
                    <input type="search" size="70">
                    <input type="submit" value="Search"  style="margin-right: 140px;">
                </form>
            </li>
            <li>Html</li>
            <li>Css</li>
            <li>Bootstrap</li>
            <li>PHP</li>
            <li>MySql</li>
            <li>JavaScript</li>
        </ul>
    </div>
 
        <div class="left-banner">
            <h1>Left Banner</h1>
            <ul>
                <li>Html</li>
                <li>Css</li>
                <li>Bootstrap</li>
                <li>PHP</li>
                <li>MySql</li>
                <li>JavaScript</li>
            </ul>
        </div>
        <div class="right-banner">
            <h1>Right banner</h1>
        </div>
  
</body>
</html>